<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Shiba_Inc</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>


    <body class="full">

        <div id="pagetop">
            <a href="/", style="text-decoration:none">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="Main Page" id="logo">
                <span id="logofont">Shiba Inc</span>
            </a>
            {% if 'username' in session %}
            <span>
                <a href="/u/{{session['username']}}/" class="right right_header" style="margin-left: 10px">{{session['username']}}</a>
                <a href="/explore/" class="right right_header">explore</a>
            </span>
            {% else %}
            <a href="/accounts/login"><span class="right right_header" style="font-weight: bold">login</span></a>
            {% endif %}
        </div>

        <hr>


        <div class="password_block">
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data" style="height: 40%">
                <div style="margin: 3% 0 1%">
                    <label for="password">Old password </label>
                    <input type="password" name="password" id="password" class="input_field" required/>
                </div>
                <div style="margin-bottom: 1%">
                    <label for="new_password1">New password </label>
                    <input type="password" name="new_password1" id="new_password1" class="input_field" required/>
                </div>
                <div style="margin-bottom: 1%">
                    <label for="new_password2">New password, again </label>
                    <input type="password" name="new_password2" id="new_password2" class="input_field" required/>
                </div>
                <div>
                    <input type="submit" name="update_password" value="submit" class="input_field button"/>
                </div>
                <div>
                    <input type="hidden" name="operation" value="update_password"/>
                </div>
            </form>
            <div>
                <a href="/accounts/edit/" class="link">Back to edit account</a>
            </div>

        </div>
    </body>
</html>
